@import 'mixins';
$main-color: rgb(155, 223, 155);
$text-background-color: rgba(255, 255, 255, 0.6);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::selection {
    color: inherit;
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: 900;
}

#canvas {
  @include flex-column-center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  background: url(background-forest.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  #instruction-panel {
    @include flex-column-center;
    background-color: $text-background-color;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10%;
    font-size: 48px;
    text-align: center;

    #target-object {
      z-index: 1;
      position: absolute;
      text-align: center;
      color: transparent;
      width: 250px;
      height: 250px;
      background-color: transparent;
      // background-color: blue;
      opacity: 90%;
    }

    img {
      display: none;
      position: absolute;
      width: 250px;
      height: 250px;
      top: 5vh;
      left: 35vh;
    }
  }

  button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 80px;

    &#reset-button {
      color: black;
      font-size: 50px;

      &:hover {
        color: rgb(88, 76, 76);
      }
    }

    &.active {
      display: unset;
    }

    &.inactive {
      display: none;
    }

    span {
      color: $text-background-color
    }
  }

  #counter {
    @include flex-column-center;
    font-size: 50px;
    color: black;
    border-radius: 10px;
    position: absolute;
    left: 5vh;
    top: 5vh;
    padding: 20px;
    background-color: $text-background-color;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 70px;
    }
  }
}